.score-board{
    display: flex;
    justify-content: center;
    
    .container{
        display: flex;
        height: 50px;
        margin: 10px;
        width: 340px;
        font-size: 40px;
        color: white;
        font-weight: bold;
        
        .score-jugador-x{
            text-align: center;
            flex:1;
            background-color: #CD493A;
        }
        .score-jugador-o{
            text-align: center;
            flex:1;
            background-color: #4392F1;
        }
    }
}