.score-board{
    font-size: 40px;
    color: white;
    margin-top: 10px;
    width: 340px;

    .container{
        height: 50px;
        display: flex;
        .score-jugador-x{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0.5;
            background-color: #CD493A;
        }
        .score-jugador-o{
            flex: 0.5;
            display: flex;
            background-color: #4392F1;
            align-items: center;
            justify-content: center;
        }
    }
}