.score{
    font-size: 40px;
    color: #84848B;
    margin: 20px;

    .container{
        width: 300px;
        height: 50px;
        display: flex;
        .score-jugador-x{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0.5;
            background-color: blue;
        }
        .score-jugador-o{
            flex: 0.5;
            display: flex;
            background-color: green;
            align-items: center;
            justify-content: center;
        }
    }
}